<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vibrant Village</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amethysta&family=Delius+Unicase&family=Inter&family=Josefin+Sans:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
  <nav>
    <!-- <img src="../../public/images/Screenshot 2023-07-21 at 11.00.57 AM.png" alt="house-logo" id="house-logo" > -->
    <h1><a id="home-link" href="/">Vibrant Village</a></h1>
      <% if (user) { %>
        <a href="/logout" class="logout">Log out</a>
      <% } else { %>
        <a href="/auth/google" class="login">Log in</a>
      <% } %>
  </nav>
  <h4>Providing free community-centered care to your neighborhood since 2023</h4>
  
    
