<%- include('./partials/header') %>

<div class="home-page">
  <h2>I want to...</h2>
  <br>
  <input id="req-care-btn" class="btn home-btn" onclick="location.href='/children/new';" type="button" value="Request care" />
  <input class="btn home-btn" onclick="location.href='/children';" type="button" value="Provide care" />
  <br>
</div>

<div class="about">
  <h2>Who we are</h2>
  <q>It takes a village to raise a child.</q>
  <p><span>Raising the next generation doesn't have to take the life out of you.</span> Most modern caregivers don't have access to the village support system of generations past. We created Vibrant Village so that your family can grow and thrive while surrounded by a customizable community of support.</p>
  <p><span>Get care & give care, all for FREE.</span> Once you've created your personalized caregiver community, the use of this site is two-fold: fill out a care request form any time you need care for your kids, and provide care for others as your availability allows. Most importantly, all the care on this site is <span>free</span>, meaning you no longer have to put off your needs because of the inafforability of other childcare solutions.</p>
  <p><span>Intentional parents, intentional kids.</span> Caregivers cannot pour from an empty cup. When you have more time to meet your needs, you are more able to meet others' needs and spend intentional time with your kids making meaningful connections.</p>

</div>

<%- include('./partials/footer') %>