<%- include('./partials/header') %>

<div class="home-page">
  <h2>I want to...</h2>
  <br>
  <input class="btn home-btn" onclick="location.href='/children/new';" type="button" value="Request care" />
  <input class="btn home-btn" onclick="location.href='/children';" type="button" value="Provide care" />
</div>

<%- include('./partials/footer') %>