<%- include('./partials/header') %>

<div class="home-page">
  <h2>I want to...</h2>
  <input type="submit" value="Request care">
  <input type="submit" value="Provide care">
</div>

<%- include('./partials/footer') %>