<%- include("../partials/header") %>

<h2><%= title %></h2>

<form id="new-fulfillment-form" action="/children/<%= child._id %>/fulfillments" method="POST">
    <label>Phone</label>
    <input type="number" name="phone">
    <input class="btn" type="submit" value="Fulfill this request!">
</form>

<%- include("../partials/footer") %>