* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  height: 100vh;
}

body > nav {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 30px;
}

#house-logo {
  height: 30px;
  width: 30px;
}

h2 {
  font-family: 'Delius Unicase', cursive;
  color: rgb(255, 109, 39);
  font-size: 3vmin;
}

#home-link, #home-link:focus, #home-link:active {
  font-family: 'Delius Unicase', cursive;
  color: rgb(255, 109, 39);
  text-decoration: none;
  font-size: 5vmin;
  letter-spacing: 0.5vmin;
  display: flex;
  align-self: flex-start;
}

h1:hover {
  cursor: pointer;
}

h4 {
  font-family: 'Amethysta', serif;
  font-size: 1.5vmin;
  display: block;
  
}

.home-page > h2 {
  font-family: 'Josefin Sans', sans-serif;
  color: black;
  font-weight: lighter;
  font-size: 4vmin;
}

input {
  background-color: rgb(255, 229, 212);
  border-radius: 5%;
  border-color: rgb(255, 229, 212);
  color: rgb(255, 109, 39);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2vmin;
  border: 1px;
  padding: 10px;
}

.btn:hover {
  background-color: rgba(11, 0, 159, 0.2);
  color: rgb(11, 0, 159);
  cursor: pointer;
}

.login, .logout {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2vmin;
  font-weight: lighter;
  color: black;
  text-decoration: none;
  text-align: right;
}

.login:hover, .logout:hover {
  text-decoration: underline;
}

