* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  text-align: center;
}

body {
  height: 100vh;
}

body > nav {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 30px;
}

/* #house-logo {
  height: 30px;
  width: 30px;
} */

h2 {
  font-family: 'Delius Unicase', cursive;
  color: rgb(255, 109, 39);
  font-size: 4vmin;
  margin-top: 7vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 0px;
}

#home-link, #home-link:focus, #home-link:active {
  font-family: 'Delius Unicase', cursive;
  color: rgb(255, 109, 39);
  text-decoration: none;
  font-size: 6vmin;
  letter-spacing: 0.5vmin;
  display: flex;
  align-self: flex-start;
}

h1:hover {
  cursor: pointer;
}

h4 {
  font-family: 'Amethysta', serif;
  font-size: 1.7vmin;
  display: block;
  margin: 0px 20px 0px 37px;
  text-align: left;
}

.home-page > h2, #top-label {
  font-family: 'Josefin Sans', sans-serif;
  color: black;
  font-weight: lighter;
  font-size: 4vmin;
}

input {
  background-color: rgb(255, 229, 212);
  border-radius: 5%;
  border-color: rgb(255, 229, 212);
  color: rgb(255, 109, 39);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2vmin;
  border: 1px;
  padding: 10px;
  margin: 2vmin;
}

.btn:hover {
  background-color: rgba(11, 0, 159, 0.2);
  color: rgb(11, 0, 159);
  cursor: pointer;
}

.home-btn {
  font-size: 3vmin;
}

.login, .logout {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2vmin;
  font-weight: lighter;
  color: black;
  text-decoration: none;
  text-align: right;
}

.login:hover, .logout:hover {
  text-decoration: underline;
}

table thead th {
  padding: 2vmin 3vmin 2vmin 3vmin;
  border-bottom: 2px solid rgb(255, 109, 39);
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.25vmin;
  margin-left: auto;
  margin-right: auto;
}

table td {
  padding: 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
  font-size: 2vmin;
}

form {
  text-align: left;
  margin: 10px 50px;
}

h5 {
  font-family: 'Amethysta', serif;
  font-size: 1.5vmin;
  font-style: italic;
  margin-bottom: 5px;
}

footer {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5vmin;
  font-weight: lighter;
  margin: auto;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.type-of-care {
  color: rgb(255, 109, 39);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2vmin;
  margin: 5vmin 0 5vmin 5vmin;
}