<%- include("../partials/header") %>

<h2>Request Care</h2>

<h5>Please provide the following care information:</h5>

<form id="new-childcare-request-form" action="/children" method="POST">
    <label>Date of care</label>
    <input type="date" name="date"><br>
    <label>Time of care</label>
    <input type="time" name="time"><br>
    <label>Location</label>
    <input type="text" name="location"><br>
    <label>Number of kids</label>
    <input type="number" name="numOfKids"><br>
    <label>Names & ages of kids</label>
    <input type="text" name="namesAgesOfKids"><br>
    <label>Special instructions</label>
    <input type="text" name="specialInstructions"><br>
    <input class="btn" type="submit" value="Submit care request">
</form>

<%- include("../partials/footer") %>